$blue: #22489B;
$green: #3AB9D9;
$light-blue: #4F7FE9;
$grey: #D8D8D8;
$bg-grey: #EEEEEE;
$input-border: #9B9B9B;
$light-grey: #979797;
$status-active: #7ED321;
$font-color: #4A4A4A;
$white: #fff;
$black: #000;
$blue-border: #4F7FE9;
$red-bg: rgba(237, 23, 19, 0.86);
$yellow-bg: rgba(243, 206, 2, 0.86);
$green-bg: rgba(118, 175, 132, 0.86);
$brown-bg: rgba(158, 112, 112, 0.86);
